.header h1 {
  margin-bottom: 10px;
}

.toolbar {
  border: 1px solid #ccc;
  border-radius: 0 0 8px 8px;
  padding: 0.8em;
  height: fit-content;
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
}

.toolbar svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.toolbar .add_icon > path {
  margin-right: -5px;
}

.green_icon:hover,
.green_icon.active {
  stroke: var(--qb-alien-green);
  cursor: pointer;
}

.blue_icon:hover,
.blue_icon.active {
  stroke: var(--qb-blue-slime);
  cursor: pointer;
}

.red_icon {
  margin-top: -1px;
  cursor: pointer;
}
.red_icon:hover {
  stroke: var(--qb-error-red)
}

.traits {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.traits > div > p {
  font-size: 1.05rem;
  line-height: 1.05rem;
  transform: translateY(3px);
}

.traits svg {
  color: var(--qb-alien-green);
  flex: 0 0 auto;
}

.traits > div {
  display: flex;
  gap: 10px;
  align-items: center;
}


.information {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.information_2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info_2 {
  display: flex;
  gap: 20px;
}

.text {
  font-size: 1.1rem;
  border-left: 2px solid var(--qb-alien-green-trans);
  padding-left: 15px;
}

.text_label {
  color: var(--qb-alien-green);
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.relationship_info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.relationship_info.spaced {
  justify-content: space-between;
  margin: 0 8px;
}

.relationship_title {
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 3px;
}

.relationship_notes {
  margin: 0 35px;
  border-left: 2px solid var(--qb-blue-slime-trans);
  padding-left: 15px;
  max-width: 800px;
}

.section_header {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.section_header p {
  color: var(--qb-alien-green);
  font-size: 1.2rem;
}

.section_hr {
  border-color: rgb(59, 59, 59);
  border-top: 1px solid rgb(59, 59, 59);
  height: 1px;
}

/* ========================================================================== */
/* Detail Dropdown */
/* ========================================================================== */

.dropdown {
  position: absolute;
  background-color: #171717;
  top: calc(100% + 10px);
  left: 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 0.8em;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

.dropdown_option {
  display: flex;
  gap: 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: color 0.1s ease-in-out;
}

.dropdown_option:hover {
  color: var(--qb-periwinkle);
}

.dropdown_option > p {
  position: relative;
  display: inline-block;
}

.dropdown_option > p::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background: currentColor;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s ease;
}

.dropdown_option > p:hover::after {
  transform: scaleX(1);
}