header {
  align-content: center;
  background-color: rgb(58, 58, 58);
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 1.5rem;
  border-radius: 25px;
  position: fixed;
  width: calc(100vw - 30px);
  top: 15px;
  left: 15px;
  z-index: 1000;
  background: linear-gradient(
    90deg,
    #3d2b7d 0%,
    #604a94 50%,
    #8b5a74 100%
  );
  box-shadow:
    0 3px 10px rgba(11, 26, 43, 0.75),
    0 0 30px rgba(14, 5, 29, 0.45);
  text-shadow:
    0 3px 10px rgba(11, 26, 43, 0.75),
    0 0 30px rgba(14, 5, 29, 0.45);
}

.title {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 3px;
  cursor: pointer;
}

.logo {
  height: 30px;
}

.title:hover {
  color: white;
}

a.title h1,
a.title span {
  color: #e1e7f5;
  font-size: 1.7rem;
  line-height: 1.7rem;
  font-weight: 500;
  font-feature-settings: "ss01";
  transition: 
    color ease-in-out 0.2s,
    transform ease-in-out 0.2s;
}

a.title span {
  color: var(--qb-periwinkle);
}

.navigation {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navigation a {
  color: white;
  font-size: 1.1rem;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.navigation a:hover {
  color: #adff5d;
}

.navigation p {
  color: rgb(131, 131, 131);
  font-size: 1.2rem;
}

.logout_button {
  cursor: pointer;
  font-size: 1rem;
  background: none;
  border: none;
  transition: all 0.2s ease-in-out;
  padding: 0;
}
.logout_button:hover {
  background-color: transparent;
  color: #adff5d;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  width: fit-content;
  padding: 0;
}
.hamburger:hover {
  background: none;
}

.hamburger span {
  display: block;
  width: 30px;
  height: 3px;
  background: white;
  border-radius: 999px;
  transition:
    transform 250ms ease,
    opacity 250ms ease,
    background 250ms ease-in-out;
}
.hamburger:hover span {
  background: var(--qb-frog-green);
}
.hamburger.open span {
  background: var(--qb-frog-green);
}
.hamburger.open:hover span {
  background: white;
}

/* hamburger animation */
.open span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}
.open span:nth-child(2) {
  opacity: 0;
}
.open span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

.profile_picture_wrapper {
  width: 33px;
  height: 33px;
}

.profile_picture {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  margin-top: 1px;
  cursor: pointer;
}

.account_info {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.account_info div {
  min-width: 0;
}

.account_info p {
  font-size: 1rem;
}

.account_info .user_display_name {
  font-weight: 400;
  font-size: 1rem;
  color: white;
}

.account_info .user_email {
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 875px) {
  .navigation {
    display: none;
  }

  .hamburger {
    display: flex;
    z-index: 10;
  }
}